
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Portfólio Edilson Bueno Raffo</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/pfp.jpg' %}" >
					<hr>
					<h4>Olá! Meu nome é Edilson, seja bem vindo ao meu portfólio!</h4>
					<p>Segue algumas informações básicas sobre mim. Este site foi desenvolvido utilizando Django, HTML e CSS.</p>
				</div>
			</div>
			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Sobre mim:</h4>
					<hr>
					<p>Sou graduando em Análise e Desenvolvimento de Sistemas pela Universidade Positivo, minha segunda graduação. Antes, formei-me em Biomedicina, com pós-graduação em Hematologia.</p>
					<p>Apaixonado por Ciência de Dados e Desenvolvimento Web, busco consolidar meus conhecimentos nessas áreas, unindo tecnologia e ciência para criar soluções eficientes. Sempre em busca de desafios, adoro aprender, resolver problemas e compartilhar conhecimento.</p>
					<p>Vamos trocar ideias?</p>
					<ul class="social-links">
						<li>
							<a href="https://www.linkedin.com/in/edilson-bueno-raffo-a2a345160/" target="_blank">
								<img src="{% static 'images/linkedin.png' %}" alt="LinkedIn">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Principais cursos realizados</h5>
					<hr>
					<p>Administrando banco de dados;</p>
					<p>Criando um projeto com interface gráfica utilizando a linguagem Python;</p>
					<p>Desenvolvendo um projeto completo Python com estrutura de dados;</p>
					<p>Desenvolvimento orientado a objetos utilizando a linguagem Python;</p>
					<p>Implementando banco de dados;</p>
					<p>Linguagem de programação Python (53 horas).</p>
					</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Principal expertise</h5>
					<hr>
					<p>Python, Django, HTML/CSS, Java, SQL.</p>
					<p>PS: Aprendendo MongoDB e Machine Learning.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Softskills</h5>
					<hr>
					<p>Resolução de problemas;</p>
					<p>Trabalho em equipe;</p>
					<p>Adaptabilidade; </p>
					<p> Comunicação eficaz; </p>
					<p>Gestão de tempo;</p>
					<p>Pensamento crítico;</p>
					<p>Aprendizado contínuo.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Objetivos a curto prazo</h5>
				<hr>
				<p>Depois de cinco anos atuando na área laboratorial, meu objetivo é transitar para a área de TI, focando no aprimoramento pessoal e profissional por meio de aprendizado contínuo e aplicação prática de novas habilidades.</p>
				</div>
			</div>
		</div>
		<br>
	</div>
<footer>
	<p>2025, Feito por Edilson Bueno Raffo. Inspired by <a href="https://www.youtube.com/watch?v=pLN-OnXjOJg&t=143s&ab_channel=DennisIvy"> Dennis Ivy's Portfolio Resume Website</a></p>
</footer>
</body>
</html>